@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap'); /*Aqui é para add um font direto de algum site ai usamos o import para importar ela.*/

@font-face {            /*Aqui colocamos uma regra para podermos add nossa font externa*/
    font-family: 'Android';  /*Aqui damos o nome que queremos*/
    src: url('../fontes/idroid.otf') format('opentype'); /*E aqui puxamos a font dentro do nosso arquivo é só colocar o cursor dentro do url e colocar barra / ai vai aparecer o caminho*/
    /*colocamos o ../ que quer dizer para voltar uma pasta e abrir a anterior.*/
    font-weight: normal;
}
/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root {  /* Root é onde vamos deixar nossas variaveis declaradas esta é nossa area principal onde podemos declarar nossas variaveis vamos assim dizer blogais*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;    /*Toda variavél começa sendo declarada com dois -- */
    --cor3: #2fa866;    /*Aqui o que que fizemos foi pegar as cores lá do comentário e criamos*/
    --cor4: #1a5c37;    /* variaveis com os nomes que quisermos dar apenas não pode dar espeço*/
    --cor5: #063d1e;
    
    --font-padrao: Arial Verdana Helvetica sans-serif ;
    --font-destaque:'Bebas Neue', cursive;
    --font-android: 'Android', cursive; /*chamamos a font lá da regra font externa e colocamos cursive esta font vai ser a generica sempre fica por ultimo*/
}

* {    /*Usamos o * para fazermos um configuração global ou seja vai tratar todos os elementos ex: h1, h2, h3 body endim aqui já vai configurar em todos os elementos que temos no nosso site ou pasta né enfim */ 
    margin: 0px;
    padding: 0px;      /* Aqui configuramos com a a margin e padding 0 pois um estava atrapalhando o outro lá no site.*/
}

body {
    background-color: var(--cor3); /*Para pegar variavel no caso da cor vamos na paleta mesmo e la enbaixo nos ultimos vai estar as cores da variavel*/
    font-family: var(--font-padrao);    
}
a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.321);
}
header > p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.321);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.26);
    text-align: left;
}
nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s; /*Quando passar o curso em cima da palavra ele neste caso né que colocamos vai 0.5s dando um efeito.*/
}
nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466) ;
    border-bottom-left-radius: 10px;  /*Aqui ao invés de aredondar todas as bordas aredondamos apenas as inferiores fizempos assim pois sabemos que o normla ele trabalha para aredondar um lado inferior com outro lado supreior inverso.*/
    border-bottom-right-radius: 10px;
}
main  h1 {
    color: var(--cor5);
    font-family: var(--font-android); 
    font-weight: normal;
    font-size: 1.8em;   /*Aqui no main eu não coloquei > pois quando eu não coloco 
    significa que este h1 pode estar dentro de outras tags tbm ai não vai dar problema ou pode ter a que é um article ai eu teria que especificar, fica meio que genérico entre aspas né. Reumindo que não preciso fica espefificando tipo main > article > h1 entendeu. Ou tbm mesmo sendo o main > p ele acaba pegando todos os paragrafos mesmo os que não estão dentro do main agora se eu coloco main p ai ele vai pegar todos os paragrafos mais que estejam dentro do main.*/
}
main h2 {
    font-family: var(--font-android);
    font-size: 1.3;
    font-weight: normal;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), white );
    padding: 4px 8px;
}
main p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 15px 0px; /*Lembrando que são 4 margens né que funcionam como relogio encima diretia enbaixo e esquerda então aqui como já vimos antes se as duas posição a primeira e a terceira for o mesmo valor e a segunda e quarta eu coloco só uma vez não preciso repetir colocando os quatro valores tipo: seria -> 15px 0px 15px 0px então eu simplifico 15px 0px.*/
    font-size: 1em;
    line-height: 2em;
}
main strong {
    color: var(--cor4);
    font-weight: bold;
    
}
main a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;   /*Asiim como colocamos na div.video >iframe que é especifico né como já sabemos do video e aqui é a div tipo vamos assim falar do bloco colocamos posição relative né relative. e no outro colocamos posição absolute.*/
}
div.video > iframe {
    position: absolute;  /* Aqui colocamos que é a posição absoluta*/
    top: 5%;             /* Para podermos ajustar o video (centralizar ele) */
    left: 5%;            /*colocamos em porcentagem o top e o left */
    width: 90%;          /*Ao depois como os outros estavam em porcentagem colocamos*/
    height: 90%;      /* o width e o height tbm para poder centralisar tbm.*/
}                      /* Tudo isto é uma ganbiaara que fez pra ajustar o video*/

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295);
}
aside > ul {
    list-style-type: '\2714\00A0\00A0'; /*2714 é o código lá do site do check antes dele colocamos \ e 00A0 é o numero de 1 espaço em branco ai colocamos 2 para dar dois espaços.*/
    list-style-position: inside; /* É a posição da lista inside é ela pra dentro e outside é ela para fora. ( Porem não da certo em todos os navegadores.) */
    columns: 2; /*Aqui colocamos 2 que é o numero de colunas ai o conteudo vai ficar em 2 colunas.*/
    
}
aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /*Aqui colocamos a margin negativa para o aside encostar certinho.*/
    border-radius: 10px 10px 0px 0px;
}
footer {
    background-color: var(--cor5);
    color: rgba(255, 255, 255, 0.753);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}